* {
    margin: 0; padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

body{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
}

header{
    grid-row: 1;
    background-color: #FEDBAF;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 85%;
}

#header img{
    padding-left:10px;
    height: 100px;
}

nav{
    padding-right:25px;
}

nav a{
    color: #492E16;
    text-decoration: none;
    margin-inline: 6px;
}


#story{
    background-color: green;
    grid-row: 2;
}

#mission{
    background-color: yellow;
    grid-row: 3;
}

#team{
    background-color: peru;
    grid-row: 4;
}

footer{
    grid-row: 5;
    background-color: #AEC4D5;
    height: 50px;
}

footer p{
    font-size: smaller;
    font-style: italic;
    text-align: center;
    padding: 15px;
}