* {
    margin: 0; padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

body{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
}

header{
    grid-row: 1;
    background-color: #FEDBAF;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 85%;
}

#header img{
    padding-left:10px;
    height: 100px;
}

nav{
    padding-right:5px;
}

nav a{
    color: #492E16;
    text-decoration: none;
    margin-inline: 6px;
}

nav a:hover{
    font-weight: bold;
}

span{
    font-weight: bold;
}

#main{
    color: #492E16;
    background-image: url(../img/gradient_bg.jpg);
    background-position: center;
    height: 593px; 
    background-repeat: repeat;
    background-size:auto;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-block: 40px;
    font-size: xx-large;
}

h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

#story, #mission, #team{
    grid-row: 2;
    margin-inline: 35px;
    margin-block: 25px;
    padding-inline: 15px;
    padding-block: 10px;
    border-radius: 10px;
    background-color: white;
}

#main p{
    font-size: 16px;
}

#story{
    grid-row: 2;
}

#mission{
    grid-row: 3;
}

#team{
    grid-row: 4;
}

footer{
    grid-row: 5;
    background-color: #AEC4D5;
    height: 50px;
}

footer p{
    font-size: smaller;
    font-style: italic;
    text-align: center;
    padding: 15px;
}

/*Setting up responsive web design*/

@media (max-width: 770px) {

    /*Applies to header*/
    #header{
        width: 90%;
    }
    
    #header img{
        height: 75px;
    }

    /*Applies to navigation bar*/
    nav a{
        font-size: small;
        margin-inline: 2px;
    }

    /*Applies to main body*/
    #main{
        height: 617px;
    }

    #story, #mission, #team{
        margin-inline: 20px;
    }

    #main p{
        font-size: 14px;
    }

    /*Applies to footer*/
    footer p{
        font-size:x-small;
    }   
}

@media (max-width: 550px) {    

    #story, #mission, #team{
        margin-inline: 10px;
        margin-block: 15px;
        padding-block: 7px;
    }
    #main p{
        font-size: 13px;
    }

}

@media (max-width: 400px) {    

    h2{
        margin-block: 30px;
        font-size: x-large;
    }

    #story, #mission, #team{
        margin-inline: 7px;
        margin-block: 10px;
    }

    #main p{
        font-size: 12px;
    }

}