/*Applies to whole website*/

* {
    margin: 0; padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

body{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
}

/*Applies to header*/

header{
    grid-row: 1;
    background-color: #FEDBAF;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 85%;
}

#header img{
    padding-left:10px;
    height: 100px;
}

/*Applies to navigation bar*/

nav{
    padding-right:5px;
}

nav a{
    color: #492E16;
    text-decoration: none;
    margin-inline: 6px;
}

/*Applies to main body*/

#main{
    background-image: url(../img/MainBackground_desktop.png);
    background-position: center;
    height: 593px; 
    background-repeat:no-repeat;
    background-size:auto;
    text-align: center;
}

#main p{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:45px;
    margin: 175px;
}

span{
    font-size:40px;
    font-style: italic;
}

#main a{
    background-color: #568259;
    padding-inline: 30px;
    padding-block: 15px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: larger;
}

/*Applies to footer*/

footer{
    grid-row: 3;
    background-color: #AEC4D5;
    height: 50px;
}

footer p{
    font-size: smaller;
    font-style: italic;
    text-align: center;
    padding: 15px;
}

/*Setting up responsive web design*/

@media (max-width:900px) {
    /*Applies to main body*/
    #main p{
        margin-inline: 140px;
    }
}

@media (max-width: 770px) {

    /*Applies to header*/
    #header{
        width: 90%;
    }

    #header img{
        height: 75px;
    }

    /*Applies to navigation bar*/
    nav a{
        font-size: small;
        margin-inline: 2px;
    }


    /*Applies to main body*/
    #main{
        height: 617px;
    }

    #main p{
        margin-inline: 45px;
    }

    /*Applies to footer*/
    footer p{
        font-size:x-small;
    }   
}

@media (max-width: 400px) {    
    /*Applies to main body*/
    #main p{
        font-size:30px;
    }
    
    span{
        font-size:25px;
        font-style: italic;
    }
}